version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: hireflow-postgres
    restart: always
    environment:
      POSTGRES_USER: hireflow
      POSTGRES_PASSWORD: hireflow_password
      POSTGRES_DB: hireflow_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: hireflow-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  minio:
    image: minio/minio
    container_name: hireflow-minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: hireflow_minio
      MINIO_ROOT_PASSWORD: hireflow_minio_password
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  redis_data:
  minio_data:
